<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <% user.posts.each do |post| %>
      <%= link_to image_tag(post&.image.url :preview), post unless post.image.url == nil%>
      <p>
        <%= post.caption %>
        <strong>-<%= link_to post.user.username, post.user %></strong>
      </p>
    <% end %>
  </p>

</div>
